html, body {
  background-color: #171717;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in-out;
}

button:hover::after {
  opacity: 1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.backWrap {
  position: relative;
  padding: 2px;
  border-radius: 9px;
  display: inline-block;
}

.backWrap::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 9px;
  background: linear-gradient(to bottom right, #008cff, #e100ff);
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  z-index: -1;
}

.backWrap:hover::before,
.backWrap:focus-within::before {
  opacity: 1;
}
 
.backButton,
.backWrap > button,
.backWrap > #searchDiv {
  position: relative;
  background-color: #000;
  border-radius: 6px;
  border: none;
  color: white;
  z-index: 1;
}

#return {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #5380aa;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}